* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: tiempos-headline-light;
  src: url('../assets/tiempos-headline-light.woff2');
}
.hidden {
  display: none;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}
